/* this is a comment just for the reminder!*/
body{
	background:#BDEDBB url('../img/sidevine.png') no-repeat 1px 1px;
	margin: 0;
	background-color: #BDEDBB;
	font-family: 'Dynalight', cursive;
	font-size: 25px;
	line-height: 30px;
}
header{
	padding-top: 5%;
	padding-left: 15%;
	padding-bottom: 1%;
}

header h1{
	
	color: darkgreen;
}
header img{
	border-radius: 160px;
	border:5px solid darkgreen;
}

h1, h2, h3{
	font-family: 'Limelight', cursive;
}
main{
	padding: 0;
	padding-left: 4%;
	max-width: 80%;
	font-size: 40px;
	margin: 0 auto;
	
}


p{
	font-size: 25px;

}
h2, h3{

	color: darkred;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 35px;
}
h3{
	font-size: 30px;
	padding: 0px;
}
li{
	font-size: 25px;
}

main div{
	margin: 0 auto;
	float: right;
	color: grey;
}
a{
	color: darkred;
}
a:hover{
	color:green;
	background-color: darkgreen;
}
footer{
	text-align: center;
	padding: 10px;
}
footer p{
	margin: 0;
}
p.caption{
	color: grey;
}